Archive.cpp
bin/
cmake-*
cmake-build-debug/*
*.dat
dat/*
docs/latex
.DS_Store
EPEC
EPECInstances
EPECsolve
EPECtest
FormulateLCP
func.c
Game
Games
.idea/*
.ipynb_checkpoints/
*.json
LCP2LPold.cpp
LCPTree.cpp
*.log
*.lp
*.o
sand
sand.cpp
Session.vim
src/Gams*
*.swp
tags
*.txt
