.*
Archive.cpp
bin/
build/
cmake-*
cmake-build-debug/*
CMakeFiles/
*.dat
dat/*
docs/latex
.DS_Store
EPEC
EPECInstances
EPECsolve
EPECsolve
EPECtest
formulateLCP
func.c
Game
Games
.idea/*
.ipynb_checkpoints/
*.json
LCP2LPold.cpp
LCPTree.cpp
*.log
*.lp
*.o
sand
sand.cpp
Session.vim
src/Gams*
style.clang-format
*.swp
tags
test/Testdata
*.txt
*.srctrlprj
*.srctrlbm
*.srctrldb
docs/*
